body {
    background: #080f0f95;
    margin: 0;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

.header::after {
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(../img/pc.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(8px);
    transition: all 1000ms;
}

.header-content {
    position: absolute;
    z-index: 1;
}